- # Regex for urls: \b(https?|ftp|file)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]*[-A-Za-z0-9+&@#/%=~_|]

- @lmsg = ""
- messages.each do |msg|
	- if @history and msg.created_at.strftime("%y/%m/%d") > @lmsg
		.newday= msg.created_at.strftime("%d %B, %Y - %Z")
	- if current_user.username == msg.author
		.singleMessage.me
			%span.name= msg.author
			%span.time= "(" + msg.created_at.strftime("%y/%m/%d %H:%M %Z")+ "):"
			%span.message= msg.content

	- else
		.singleMessage
			%span.name= msg.author
			%span.time= "(" + msg.created_at.strftime("%y/%m/%d %H:%M %Z")+ "):"
			%span.message= msg.content

	- @lmsg = msg.created_at.strftime("%y/%m/%d")


