<!DOCTYPE html>
<html>
<head>
  <title>Ignis</title>

  <link rel="icon" type="image/png" href="/assets/16x16/user_comments.png">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
