<!DOCTYPE html>
<html>
<head>
  <title>Ignis</title>

  <link rel="icon" type="image/png" href="/assets/16x16/user_comments.png">
  <script type="text/javascript">
    var link = {
  		editReg : "<%= edit_user_registration_path %>",
  		logout  : "<%= destroy_user_session_path %>",

      users       : "<%= users_path %>",
  		rooms       : "<%= room_index_path %>",
			groups      : "<%= group_index_path %>",
  		sendMsg     : "<%= message_index_path %>",
  		history     : "/history"
  	};
  </script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
