<!DOCTYPE html>
<html>
<head>
  <title>Ignis</title>
  <script type="text/javascript">
    window.recentTime = "<%= (Time.now - 1.day).to_f %>";
  </script>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
